body 
  h1 The object element 
  object(
    data="file:///C:/Users/LENOVO/Pictures/download.jpg"
    width="300"
    height="200"
  )
  h2 The output tag will be interesting I hope 
  form(oninput="xxx.value=parseInt(a.value)+parseInt(b.value)")
    input(
      type="range"
      id="a"
      value="50"
    )
    | +
    input(
      type="number"
      id="b"
      value="25"
    )
    | egal
    output(
      name="xxx"
      for="a b"
    )
  h3 Let`s fill the progress bar y`all 
  label(for="file") Upload Progress 
  progress(
    id="file"
    value="69"
    max="100"
  ) 69%
  h4 We will use the q tag here 
  p Astazi mai facem niste taguri ca sa stim de ele 
    q(
      style="color:red;font-style:italic"
    ) Sa vedem de ce este in stare q tag acesta