extend ../../_component/layout/base.pug


//-  DIV tag
h1 Aici este vorba despre DIV element

.myDiv
  h2 Acesta este un heading
  p Acesta este un text/paragraf in div.
p Aici am pus un text in afara div.
h3 Am pus o galerie foto intr-un div

.gallery
  a(
    target='_blank'
    href='file:///Users/m2s/Desktop/Projects/My%20first%20project/index.html'
    )
    img(
      src='Resurse/CSS/pozeee/girafe.jpg'
      alt='Girafe'
      width='600'
      height='400'
      )

  .descrieregallery Add a description of the image here


.gallery
  a(
    target='_blank'
    href='file:///Users/m2s/Desktop/Projects/My%20first%20project/index.html'
    )
    img(
      src='Resurse/CSS/pozeee/semiluna.jpg'
      alt='Semiluna'
      width='600'
      height='400'
      )

  .descrieregaller Add a description of the image here


.gallery
  a(
    target='_blank'
    href='file:///Users/m2s/Desktop/Projects/My%20first%20project/index.html'
    )
    img(
      src='Resurse/CSS/pozeee/dunes.jpg'
      alt='Dunes'
      width='600'
      height='400'
      )
  .descrieregallery Add a description of the image here


//-  div class grid container
.grid-container
  .grid-item 1
  .grid-item 2
  .grid-item 3
  .grid-item 4
  .grid-item 5
  .grid-item 6
  .grid-item 7
  .grid-item 8
  .grid-item 9


//- Details si Summary elements

details
  summary Acesta este un fel de titlu pt a atrage atentia
  p Epcot is a theme park at Walt Disney World Resort featuring
|  exciting attractions, international pavilions, award-winning
|  fireworks and seasonal special events.