extend ../../_component/layout/base.pug


footer
  h5 The summary element
  details
    summary Despre aceasta pagina
    p
      | In aceasta pagina este vorba despre cel mai des intalnite elemente in html si atributele lor.
  p
    a(href='mailto:cmsmarilena@gmail.com') Send email
  br
  a(href='tel:+33000000000') +33 0000 00 000
  p &#x2728; &#x2728; &#x2728; &#x2728; &#x2728;


  iframe.giphy-embed(
    src='https://giphy.com/embed/AWNxDbtHGIJDW'
    width='150'
    height='150'
    frameborder='0'
    allowfullscreen=''
    )
  iframe.giphy-embed(
    src='https://giphy.com/embed/LHZyixOnHwDDy'
    width='150'
    height='150'
    frameborder='0'
    allowfullscreen=''
    )
  iframe.giphy-embed(
    src='https://giphy.com/embed/74ySzYgrcYkKc'
    width='150'
    height='150'
    frameborder='0'
    allowfullscreen=''
    )