extend ../../_component/layout/base.pug


header

  p(
    style='font-size:50px'
    )  &#xF497;
  br

  span(
    style='font-size:20px;'
    ) &#x2728;
  span(
    style='font-size:20px;'
    ) &#x2728;
  br


//-  <a> tag
a(
  href='file:///Users/m2s/Desktop/Projects/My%20first%20project/index.html'
  target='_blank'
  )
  img(
    border='none'
    alt='Primul meu proiect ... gen'
    src='Resurse/CSS/pozeee/milogo.png'
    width='170'
    height='170'
    )
p
  | Pentru mai multe informatii click
  a(
    href='https://www.wikipedia.org/'
    target='_blank'
    ) aici


//-  nav
nav
  a(
    href='/html/'
    ) HTML
  |  |
  a(
    href='/css/'
    ) CSS
  |  |
  a(
    href='/js/'
    ) JavaScript
  |  |
  a(
    href='/python/'
    ) Python