extend ../_component/layout/base

block awesome-content
  head
    title Iframe
  h1 Today we will learn about Iframe
  p What is Iframe?
  iframe(
    src="https://6portals.com"
     title="Buy the best merch in here"
  )
  iframe(
    src="https://zoro.to"
    title="Zorro for the best content"
  )
  iframe(
    src="https://www.reddit.com"
    title="Discover more in here"
  )
  img(
    alt="One piece"
    width="250"
    height="185"
    align="left"
    src="https://img1.ak.crunchyroll.com/i/spire1/2de389f8d301ea57de0da58fc0ef0f0b1654685865_main.jpg"
  )