extend ../_component/layout/base

block awesome-content
  head
    title Images
  div
    h1 The first image uploaded
    p Hi there welcome
  div
    //- width="250"
    img(
      alt="o fetita vesela"
      height="150"
      src="https://cdn5.vectorstock.com/i/1000x1000/39/74/little-girl-in-red-jacket-vector-18013974.jpg"
    )
  div
    img(
      alt="pizza"
      width="215"
      align="right"
      heught="200"
      src="https://pizza7house.ro/wp-content/uploads/2018/10/pizza.jpg"
    )
  div
    img(
      alt="monster truck"
      width="300"
      height="250"
      align="right"
      src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Superman_monster_truck.jpg"
    )