html
  head
    title HunterxHunter
  body
    div
      h1 The meter element
    div
      p let's find out what he
        mark does
    div
      label(
        for="disk_c"
      ) Local disk c
    div
      meter(
        id="disk_c"
        value="5"
        min="0"
        max="10"
      ) 5 out of 10
    br
    div
      label(
        for="disk_d"
      ) Local disk d
    div
      meter(
        id="disk_d"
        value="0.6"
      ) 60%
    div
      label(
        for="cloud_ff"
      ) Cloud ff
    div
      meter(
        id="cloud_ff"
        value="2"
        min="0"
        max="20"
      ) 2 out of 20
    br
    div
      label(
        for="cloud_gg"
      ) Cloud gg
    div
      meter(
        id="cloud_gg"
        value="0.4"
      ) 40%

