extend ../_component/layout/base

block awesome-content
  head
    title Ploaie de vara
  div
    h1 My friend how is u
  div
    p Me you street fight
  div
    a(
      href="google.com"
      title="click aici ca sa te duci pe Google"
    ) siteul google
  div
    a(
      href="youtube.com"
      title="apasaaaaa pentru youtube"
    ) youtube
  div
    a(
      href="https://www.youtube.com/watch?v=WjF6SGaJEog"
      title="aici iti explic mura-n gura"
    ) Wowdop
  div
    a(
      href="https://www.bbc.com"
      title="click here for news"
    ) BBC



