extend ../_component/layout/base

block awesome-content
  head
    title Whole Cake Island
  h1 The section element
  p This is it
  section
    h2 WWF History
    p The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the conservation, research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.
  section
    h2 WWF's Symbol
    p The Panda has become the symbol of WWF. The well-known panda logo of WWF originated from a panda named Chi Chi that was transferred from the Beijing Zoo to the London Zoo in the same year of the establishment of WWF.
  div
    img(
      alt="one piece"
      width="345"
      height="200"
      align="right"
      src="https://images.theconversation.com/files/471068/original/file-20220627-18-zlq7b6.jpeg?ixlib=rb-1.1.0&rect=5%2C0%2C3988%2C2299&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip"
    )