html
  head
    title Punk Hazzard
  body(
    style="color:darkblue; background-color:green"
  )
    h1 Spidermano
    p Comenasai spidermano
    video(
      width="276px"
      height="200px"
      controls
    )
      source(
        src="/asset/video/earth.mp4"
        type="video/mp4"
      )
    video(
      width="276px"
      height="200px"
      controls
    )
      source(
        src="/asset/video/park.mp4"
        type="video/mp4"
      )



