extend ../../_component/layout/base

block awesome-content

  style.
    img {
      margin: 4px;
      align-items: center;
    }

    img:hover {
      transform: scaleX(2.12) scaleY(2.12) scaleZ(2.5);
      transition: 1.5s ease-in-out;
    }

  h1 Just a set of pictures with hover effect
  img(
    src="https://images2.alphacoders.com/665/66550.jpg",
    width="150px",
    height="100px",
  )
  img(
    src="https://images3.alphacoders.com/235/235575.jpg",
    width="150px",
    height="100px",
  )
  img(
    src="https://images3.alphacoders.com/104/104655.jpg",
    width="150px",
    height="100px",
  )
  img(
    src="https://images8.alphacoders.com/364/364914.jpg",
    width="150px",
    height="100px",
  )
