form  
  div this is a simple form for
p I learn now


form 
  label(for="prim-nume") Nume
  br
  input(
    type="text"
    id="prim-nume"
    value="Halip"
  )
  br
  label(for="ultim-nume") Prenume
  br
  input(
    type="text"
    id="ultim-nume"
    value="Maria"
  )
