.header
  h1#header Menu
  ul
    li
      a(
        href="/antonia2203/audio.html"
        title="Aici am lucrat eu"
      ) Vezi ceva de la Antonia
    li
      a(
        href="/alez05/a-tag.html"
        title="Aici a lucrat Alex"
      )  Vezi ceva de la Alex
    li
      a(
        href="/marianzburlea/index.html"
        title="Aici a lucrat Marian"
      ) Vezi ceva de la Marian
    li
      a(
        href="/mariateo/pizza-mania/pizza-mania.html"
        title="Aici a lucrat Maria"
      ) Vezi ceva de la Maria
    li
      a(
        href="/vivy/body.html"
        title="Aici a lucrat Vivy"
      ) Vezi ceva de la Vivy
