html    
  head 
    meta(charset="UTF-8")
    meta(
      name="description"
      content="About meta"
    )
    meta(
      name="keywords"
      content="despre meta, vineri"
    )
    meta(
      name="author"
      content="Antonia"
    )
    title Despre meta 

  body
    h1 Am scris despre meta
    p azi e vineri 

