html 
  head 
    title Navigaion Tag 
  body 
    nav.menu
      ul(style="list-style-type:circle")
        li
          a(
            title="This will take you to the home page"
            href="/"
          ) Home
        li
          a(
            title="This will take you to the Headings Page."
            href="/antonia2203/headings.html"
          ) Headings Page
        li 
          a(
            title="This will take you to the Blockquote Page."
            href="/antonia2203/blockquote.html"
          ) Blockquote Page
    h1(style="color:yellow") Lorem
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est optio harum corporis provident! Veritatis culpa autem consequatur perspiciatis molestias, neque, magni architecto quam, nostrum repellat porro est nesciunt. Voluptatem.