html 
  head 
    title Navigation 2
  body 
    nav.menu 
      h1(style="color:blue") Lista
      ol(type="i")
        li
          a(
            title="We can read more about the name meaning."
            href="https://www.semnificatia-numelui.net/semnificatie-nume-ana/"
            ) Ana 
        li
          a(
            title="We will learn more about the conjugation of the verb to have."
            href="https://www.conjugare.ro/romana.php?conjugare=avea"
            ) are 
        li
          a(
            title="We can see a picture of an apple."
            href="https://www.google.com/search?q=mere&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjagZGX0f35AhVh_7sIHYRoBGcQ_AUoAnoECAEQBA&biw=1536&bih=714&dpr=1.25"
            ) mere.